<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogFile="C:\Logs\ResidentAPI-internal.log"
  internalLogLevel="WARN">

  <variable name="logDir" value="C:\Logs" />
  <variable name="timestamp" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ff}" />
  <variable name="defaultLayout" value="[${timestamp}] [${aspnet-request-ip}] [${level:uppercase=true}] : ${logger} -&gt; [${mdlc:X-Correlation-ID}] [${aspnet-traceidentifier}] ${message}${onexception:${exception:format=ToString}}" />
  <variable name="baseLogPath" value="${logDir}\ResidentAPI\${shortdate}" />

  <targets async="true">
    <target name="startup" xsi:type="File" layout="${defaultLayout}" fileName="${baseLogPath}\startup.log" />
    <target name="database" xsi:type="Database" connectionString="${gdc:cnnStr}">

      <commandText>
        INSERT INTO [dbo].[ResidentAPILog]
        ([Logged],[CorrelationId],[TraceIdentifier],[Level],[Logger],[Message],[MachineName],[Callsite],[Exception])
        VALUES
        (@logged, @correlationId, @traceIdentifier, @level, @logger, @message, @machineName, @callSite, @exception)
      </commandText>

      <parameter name="@correlationId" layout="${mdlc:X-Correlation-ID}" />
      <parameter name="@traceIdentifier" layout="${aspnet-traceidentifier}" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="ResidentXChange.RestAPI.Program" writeTo="startup" final="true" />
    <logger name="*" writeTo="database">
      <filters>
        <when condition="regex-matches('${aspnet-request-url}', '^.+\/status\/?$', 'IgnoreCase')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
